<!DOCTYPE html>
<html >

<head>
  <style>
    body {
background: linear-gradient(to right, rgba(247, 233, 161, 0), rgb(255, 234, 198));
}
    button[type=submit] {
  background-color: #e7b481; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;

  display: block;
  background-image: url(https://cdn.iconscout.com/icon/free/png-256/enter-22-458493.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
blockquote{
    
    display: block;
    position: left;

}
input{
margin: auto;

display: block;

}
  </style>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

 
</head>

<body >
 <div class="login">
	<h1 style="text-align:center; background-color: rgb(255, 234, 198)">Heart Prediction</h1>
    <p> Cette application utilise un model d'apprentissage statistique ,la regression lineaire pour predire si vous etes atteind d'une maladie 
        cardio-vasculaire selon les donnees medicales que vous fournirez
    </p>
    
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="age" placeholder="age" required="required" size="45"  style="background-color:rgb(233, 184, 124);"/><br>
    	<input type="text" name="sex" placeholder="sex" required="required" size="45" style="background-color:rgb(233, 184, 124);" /><br>
        <input type="text" name="chest_pain_type" placeholder="chest_pain_type" required="required" size="45"  style="background-color:rgb(233, 184, 124);"/><br>
        <input type="text" name="resting_blood_pressure" placeholder="resting_blood_pressure" required="required" size="45"  style="background-color:rgb(233, 184, 124);"/><br>
        <input type="text" name="serum_cholestoral_in_mg/dl" placeholder="serum_cholestoral_in_mg/dl" required="required" size="45" style="background-color:rgb(233, 184, 124);" /><br>
        <input type="text" name="fasting_blood_sugar_>_120_mg/dl" placeholder="fasting_blood_sugar_>_120_mg/dl" required="required" size="45" style="background-color:rgb(233, 184, 124);" /><br>
        <input type="text" name="resting_electrocardiographic_results__(values_0,1,2)" placeholder="resting_electrocardiographic_results__(values_0,1,2)" required="required" size="45" style="background-color:rgb(233, 184, 124);"/><br>
        <input type="text" name="maximum_heart_rate_achieved" placeholder="maximum_heart_rate_achieved" required="required" size="45"style="background-color:rgb(233, 184, 124);"/><br>
        <input type="text" name="exercise_induced_angina" placeholder="exercise_induced_angina" required="required" size="45" style="background-color:rgb(233, 184, 124);" /><br>
        <input type="text" name="oldpeak" placeholder="oldpeak" required="required" size="45" style="background-color:rgb(233, 184, 124);" /><br>
        <input type="text" name="the_slope_of_the_peak_exercise_ST_segment" placeholder="the_slope_of_the_peak_exercise_ST_segment" required="required" size="45" style="background-color:rgb(233, 184, 124);" /><br>
        <input type="text" name="number_of_major_vessels_(0-3)_colored_by_flourosopy" placeholder="number_of_major_vessels_(0-3)_colored_by_flourosopy" required="required" size="45" style="background-color:rgb(233, 184, 124);" /><br>
        <input type="text" name="thal_3_=_normal_6_=_fixed_defect_7_=_reversable_defect" placeholder="thal_3_=_normal_6_=_fixed_defect_7_=_reversable_defect" required="required" size="45" style="background-color:rgb(233, 184, 124);" /><br><br>
    

       
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>